@media screen and (max-width: 1080px) {
  .indicators {
    top: 270px;
    left: 280px;
  }
}

@media screen and (max-width: 768px) {
  .indicators {
    top: 225px;
    left: 230px;
  }
}

@media screen and (max-width: 644px) {
  .indicators {
    top: 185px;
    left: 190px;
  }
}

@media screen and (max-width: 542px) {
  .indicators {
    top: 165px;
    left: 180px;
  }
}

@media screen and (max-width: 522px) {
  .newsImage > img {
    width: 150px;
  }

  .bannerContainer > img {
    height: 183px;
  }

  .indicators {
    top: 164px;
    left: 160px;
  }

  .indicator {
    width: 8px;
    height: 10px;
    margin: 3px;
  }

  .newsTextData > *:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 494px) {
  .indicators {
    top: 110px;
    left: 100px;
  }

  .content {
    width: 370px;
  }
}

@media screen and (max-width: 394px) {
  .content {
    width: 300px;
  }

  .newsImage > img {
    width: 120px;
  }
}

@media screen and (max-width: 354px) {
  .content {
    width: 280px;
  }

  .newsImage > img {
    width: 100px;
  }

  .bannerContainer > img {
    height: 120px;
  }

  .indicators {
    top: 164px;
    left: 160px;
  }

  .indicator {
    width: 8px;
    height: 10px;
    margin: 3px;
  }

  .newsTextData > *:first-child {
    font-size: 14px;
    margin-top: 0;
  }
}
