.signInPage {
    background-color: var(--base-white);
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.formWrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.signInWords {
    font-family: Avenir-Book, sans-serif;
    font-size: 36px;
    line-height: 50px;
    color: var(--textBlue);
    margin-bottom: 10px;
}

.moveToSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveToSignUp > p {
    font-family: Avenir-Medium, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--textMedium);
    text-align: center;
}

.moveToSignUpLink {
    color: var(--textBlue);
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.notification {
    position: absolute;
    top: 36px;
    width: 450px;
    height: 40px;
    background-color: var(--navButtonActive);
    border-radius: 4px;
}

.notificationText {
    font-family: Avenir, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--base-white);
    margin: 8px 16px;
}

.buttonSubmit {
    background-color: #EDD6A2;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 365px;
    color: #fe6d02;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
