.headerContainer {
    display: flex;
    flex-direction: row;
}

.headerContainer > :first-child {
    padding: 8px 16px;
    width: 468px;
}

.phones {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.icon {
    color: var(--base-white);
    text-shadow: 1px 1px 2px var(--navButtonActive);
    font-size: 18px;
    margin: 0 8px 2px 0;
}

.phones > :nth-child(2) {
    font-family: var(--base-font);
    font-size: 24px;
    color: var(--base-white);
    text-shadow: 1px 1px 2px var(--navButtonActive);
    margin: 0;
    padding: 10px 5px 0 0;
}

.phones > :last-child {
    font-family: var(--base-font);
    font-size: 20px;
    color: var(--base-white);
    text-shadow: 1px 1px 2px var(--navButtonActive);
    margin: 0;
    padding: 10px 0 1px;
}

.logo {
    height: 170px;
    width: 170px;
    margin: 0 15px;
}

.logo > a > img {
    height: 100%;
    border-radius: 8px;
}

.rightBlock {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.socialLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 20px 16px 8px 16px;
    width: 200px;
}

.linkText {
    font-family: var(--base-font);
    font-size: 15px;
    color: var(--base-white);
    text-shadow: 1px 1px 2px var(--navButtonActive);
    margin: 12px 6px 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 768px) {
    .headerContainer > p {
        margin: 8px 10px 8px 10px;
        font-size: 20px;
        width: 150px;
    }

    .headerContainer > a {
        height: 150px;
        width: 150px;
    }

    .headerContainer > a > img {
        height: 150px;
    }

    .socialLinks {
        margin: 5px 10px 0 5px;
        width: 160px;
    }

    .linkText {
        font-size: 12px;
        margin: 12px 4px 0 0;
    }
}

@media screen and (max-width: 512px) {
    .headerContainer > p {
        margin: 0 4px 5px 14px;
        font-size: 15px;
        width: 130px;
    }

    .headerContainer > a {
        height: 100px;
        width: 100px;
    }

    .headerContainer > a > img {
        height: 100px;
    }

    .socialLinks {
        margin: 0 0 0 4px;
        width: 144px;
    }

    .linkText {
        font-size: 15px;
        margin: 10px 2px 0 0;
        text-transform: lowercase;
    }
}

@media screen and (max-width: 414px) {
    .socialLinks {
        margin: 5px 10px 0 3px;
        width: 60px;
        justify-content: flex-end;
    }

    .linkText {
        display: none;
    }

    .headerContainer > p {
        margin: 5px 5px 5px 10px;
        width: 105px;
    }
}

@media screen and (max-width: 320px) {
    .headerContainer > p {
        margin: 5px 5px 5px 10px;
        width: 110px;
    }

    .headerContainer > a {
        height: 80px;
        width: 80px;
    }

    .headerContainer > a > img {
        height: 80px;
        margin: 0;
    }

    .socialLinks {
        margin: 5px 10px 0 3px;
        width: 90px;
        justify-content: flex-end;
    }

    .linkText {
        display: none;
    }
}
