.navigationmenu {
  height: 45px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(to right, #eda516, #e77f11);
  box-shadow: var(--base-shadow);
}

.navigationmenu [type="checkbox"] {
  display: none;
}

.toggle-menu {
  display: none;
  cursor: pointer;
  position: relative;
  height: 30px;
}

.toright {
  transform-origin: 0 100%;
  transform: skew(-35deg);
}

.straight-right {
  display: block;
  transform: skew(35deg);
}

.trapezoid {
  width: 120px;
  height: 0px;
  border-bottom: 45px solid #edd6a2;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.trapezoid:hover {
  border-bottom: 45px solid #e8c374;
  transition-duration: 1s;
}

.toleft {
  transform-origin: 0 100%;
  transform: skew(35deg);
}

.straight-left {
  display: block;
  transform: skew(-35deg);
}

.menu-links {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.menu-links > li {
  padding: 0 2px;
}

.menu-button {
  display: block;
  text-align: center;
  line-height: 45px;
  font-family: var(--base-font);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--base-white);
  text-shadow: 0.1em 0.1em 0.2em #6282ad;
  background-color: #edd6a2;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}

.menu-button:hover {
  background-color: #e8c374;
  transition-duration: 1s;
}

.menu-button.active {
  color: #fe6d02;
  text-shadow: none;
}

@media screen and (max-width: 1080px) {
  .trapezoid {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .navigationmenu {
    height: 30px;
  }

  .trapezoid {
    width: 68px;
    border-bottom: 30px solid #edd6a2;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
  }

  .menu-button {
    line-height: 30px;
    font-size: 13px;
  }
}

@media screen and (max-width: 654px) {
  .menu-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 630px) {
  .navigationmenu {
    height: 30px;
    border-top: 1px solid #f4c91c;
    border-bottom: 1px solid #f4c91c;
  }

  .toggle-menu {
    display: block;
  }

  .toggle-menu > svg {
    position: absolute;
    top: 3px;
    left: 15px;
  }

  .toggle {
    margin: 0;
  }

  .toggle:checked ~ ul {
    display: block;
  }

  .toright {
    transform: none;
  }

  .straight-right {
    transform: none;
  }

  .trapezoid {
    width: auto;
    height: auto;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .trapezoid:hover {
    border-bottom: 0;
  }

  .toleft {
    transform: none;
  }

  .straight-left {
    transform: none;
  }

  .menu-links {
    display: none;
    overflow: unset;
  }

  .menu-links > li {
    padding: 0;
    margin: 0 10px;
    width: 220px;
    border: 1px double #e77f11;
    box-shadow: var(--base-shadow);
    border-radius: 4px;
  }

  .menu-button {
    line-height: 35px;
    padding: 0;
    font-size: 15px;
  }
}
