.navigationMenu {
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(to right, #eda516, #e77f11);
    box-shadow: var(--base-shadow);
}

.navigationMenu [type="checkbox"] {
    display: none;
}

.toggleMenu {
    display: none;
    cursor: pointer;
    position: relative;
    height: 30px;
}

.toRight {
    transform-origin: 0 100%;
    transform: skew(-35deg);
}

.straightRight {
    display: block;
    transform: skew(35deg);
}

.trapezoid {
    width: 120px;
    height: 0px;
    border-bottom: 45px solid #edd6a2;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.trapezoid:hover {
    border-bottom: 45px solid #e8c374;
    transition-duration: 1s;
}

.toLeft {
    transform-origin: 0 100%;
    transform: skew(35deg);
}

.straightLeft {
    display: block;
    transform: skew(-35deg);
}

.menuLinks {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menuLinks > li {
    padding: 0 2px;
}

.menuButton {
    display: block;
    text-align: center;
    line-height: 45px;
    font-family: var(--base-font);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--base-white);
    text-shadow: 0.1em 0.1em 0.2em #6282ad;
    background-color: #edd6a2;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
}

.menuButton:hover {
    background-color: #e8c374;
    transition-duration: 1s;
}

.menuButton.active {
    color: #fe6d02;
    text-shadow: none;
}


.mainPart {
    background-color: #f2efdc;
    box-sizing: content-box;
    min-height: 600px;
}

@media screen and (max-width: 1080px) {
    .trapezoid {
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .navigationMenu {
        height: 30px;
    }

    .trapezoid {
        width: 68px;
        border-bottom: 30px solid #edd6a2;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
    }

    .menuButton {
        line-height: 30px;
        font-size: 13px;
    }
}

@media screen and (max-width: 654px) {
    .menuButton {
        font-size: 12px;
    }
}

@media screen and (max-width: 630px) {
    .navigationMenu {
        height: 30px;
        border-top: 1px solid #f4c91c;
        border-bottom: 1px solid #f4c91c;
    }

    .toggleMenu {
        display: block;
    }

    .toggleMenu > svg {
        position: absolute;
        top: 3px;
        left: 15px;
    }

    .toggle {
        margin: 0;
    }

    .toggle:checked ~ ul {
        display: block;
    }

    .toRight {
        transform: none;
    }

    .straightRight {
        transform: none;
    }

    .trapezoid {
        width: auto;
        height: auto;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .trapezoid:hover {
        border-bottom: 0;
    }

    .toLeft {
        transform: none;
    }

    .straightLeft {
        transform: none;
    }

    .menuLinks {
        display: none;
        overflow: unset;
    }

    .menuLinks > li {
        padding: 0;
        margin: 0 10px;
        width: 220px;
        border: 1px double #e77f11;
        box-shadow: var(--base-shadow);
        border-radius: 4px;
    }

    .menuButton {
        line-height: 35px;
        padding: 0;
        font-size: 15px;
    }
}
