.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
}

.banner {
  background-color: ivory;
  box-shadow: var(--base-shadow);
  border: 3px solid var(--base-border);
  display: flex;
  justify-content: center;
  width: 850px;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  height: 350px;
}

.banner-container.current {
  animation: translating 5s ease-in-out;

}

@keyframes translating {
  from {
    transform: translate(120px, 0);
    opacity: 0.05;
  }

  25%,
  73% {
    transform: translate(0, 0);
    opacity: 1;
  }

  98% {
    transform: translate(-120px, 0);
    opacity: 0.05;
  }

  to {
    transform: translate(-120px, 0);
    opacity: 0;
  }
}

.banner-container > img {
  height: 348px;
  margin: 1px;
  z-index: 1;
}

.indicators {
  z-index: 10;
  position: relative;
  top: -45px;
  box-sizing: content-box;
  display: inline;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: ivory;
  border-radius: 100%;
  border: none;
  margin: 5px;
  box-shadow: var(--base-shadow);
}

.indicator.is-current {
  background-color: #6282ad;
  border: 2px solid #efede3;
  height: 15px;
}

.indicator:focus {
  outline: none;
  box-shadow: var(--base-shadow-border);
}

.content {
  width: 700px;
  background-color: ivory;
  box-shadow: var(--base-shadow);
  border: 3px solid var(--base-border);
  box-sizing: content-box;
  margin-bottom: 20px;
  margin-bottom: 20pxs;
}

.news-title {
  font-size: 25px;
  font-weight: bold;
  font-family: var(--base-font);
  color: #948865;
}

.content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
}

.news-image > img {
  width: 200px;
}

.news-text-date {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-left: 15px;
}

.news-text-date > *:last-child {
  font-size: 15px;
  opacity: 0.5;
  line-height: 40px;
  margin: 10px 10px 0 0;
  align-self: flex-end;
}
