.header {
  background: linear-gradient(to bottom right, #f4ca1c, #e77e11);
  height: 170px;
  width: 100%;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-conteiner > p {
  margin: 8px 16px 8px 16px;
  font-family: var(--base-font);
  font-size: 25px;
  color: var(--base-white);
  width: 200px;
}

.header-conteiner > a {
  height: 170px;
  width: 170px;
}

.header-conteiner > a > img {
  height: 170px;
  border-radius: 8px;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 8px 16px 8px 16px;
  width: 200px;
}

.link-text {
  font-family: var(--base-font);
  font-size: 15px;
  color: var(--base-white);
  margin: 14px 6px 4px 0;
  text-transform: uppercase;
}

.icon-link {
  height: 36px;
  margin: 0 5px;
}

@media screen and (max-width: 1080px) {
}

@media screen and (max-width: 768px) {
  .header {
    height: 150px;
  }

  .header-conteiner > p {
    margin: 8px 10px 8px 10px;
    font-size: 20px;
    width: 150px;
  }

  .header-conteiner > a {
    height: 150px;
    width: 150px;
  }

  .header-conteiner > a > img {
    height: 150px;
  }

  .social-links {
    margin: 5px 10px 0 5px;
    width: 160px;
  }

  .link-text {
    font-size: 12px;
    margin: 12px 4px 0 0;
  }

  .icon-link {
    height: 35px;
    margin: 2px;
  }
}

@media screen and (max-width: 512px) {
  .header {
    height: 100px;
  }

  .header-conteiner > p {
    margin: 0 4px 5px 14px;
    font-size: 15px;
    width: 130px;
  }

  .header-conteiner > a {
    height: 100px;
    width: 100px;
  }

  .header-conteiner > a > img {
    height: 100px;
  }

  .social-links {
    margin: 0 0 0 4px;
    width: 144px;
  }

  .link-text {
    font-size: 15px;
    margin: 10px 2px 0 0;
    text-transform: lowercase;
  }

  .icon-link {
    height: 25px;
    margin: 4px;
  }
}

@media screen and (max-width: 414px) {
  .social-links {
    margin: 5px 10px 0 3px;
    width: 60px;
    justify-content: flex-end;
  }
  
  .link-text {
    display: none;
  }

  .header-conteiner > p {
    margin: 5px 5px 5px 10px;
    width: 105px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 80px;
  }

  .header-conteiner > p {
    margin: 5px 5px 5px 10px;
    width: 110px;
  }

  .header-conteiner > a {
    height: 80px;
    width: 80px;
  }

  .header-conteiner > a > img {
    height: 80px;
    margin: 0;
  }

  .social-links {
    margin: 5px 10px 0 3px;
    width: 90px;
    justify-content: flex-end;
  }

  .link-text {
    display: none;
  }

  .icon-link {
    height: 25px;
    margin: 0 5px;
  }
}
