.delivery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.delivery-container {
  width: 800px;
  height: 750px;
  background-color: ivory;
  box-shadow: var(--base-shadow);
  border: 3px solid var(--base-border);
  margin: 30px 30px 100px 30px;
  padding: 25px;
  position: relative;
}

.delivery-version-container {
  margin-bottom: 55px;
}

.delivery-version-container > * {
  color: #756b4b;
  font-size: 18px;
}

.delivery-title {
  font-size: 20px;
  color: #375dc4;
  text-shadow: 1px 1px 3px #f4ac14;
  font-weight: bold;
}

.delivery-discount {
  color: #375dc4;
  text-shadow: 1px 1px 3px #f4ac14;
  font-weight: bold;
  margin: 20px;
}

.deliv-image {
  width: 220px;
  position: absolute;
  top: 45px;
  right: 45px;
  border: 3px solid var(--base-border);
  box-shadow: var(--base-shadow); 
}

.delivery-image {
  width: 400px;
  position: absolute;
  top: 360px;
  right: 30px;
  border: 3px solid var(--base-border);
  box-shadow: var(--base-shadow);
}

@media screen and (max-width: 1080px) {
  .delivery-container {
    width: 660px;
    height: 665px;
    margin: 30px 10px 100px 10px;
  }

  .delivery-discount {
    margin: 20px;
  }

  .deliv-image {
    width: 160px;
    top: 90px;
    right: 25px;
  }

  .delivery-image {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .delivery-container {
    width: 440px;
    height: 1075px;
    margin: 30px 10px 80px 10px;
  }

  .delivery-discount {
    margin: 15px;
  }

  .deliv-image {
    width: 85px;
    top: 150px;
    right: 50px;
  }

  .delivery-image {
    width: 415px;
    top: 670px;
    right: 35px;
  }
}

@media screen and (max-width: 534px) {
  .delivery-container {
    width: 390px;
    height: 1020px;
  }

  .delivery-discount {
    margin: 5px;
  }

  .delivery-image {
    width: 350px;
    top: 670px;
    right: 45px;
  }
}

@media screen and (max-width: 480px) {
  .delivery-container {
    width: 320px;
    height: 990px;
    margin: 30px 5px 80px 5px;
    padding: 15px;
  }

  .delivery-image {
    width: 285px;
    top: 700px;
    left: 30px;
  }
}

@media screen and (max-width: 380px) {
  .delivery-container {
    width: 284px;
    height: 1000px;
    margin: 30px 5px 50px 5px;
    padding: 10px;
  }

  .delivery-discount {
    margin: 15px;
  }

  .delivery-container > * {
    font-size: 15px;
  }
  
  .delivery-container > :first-child {
    font-size: 17px;
  }

  .delivery-image {
    width: 235px;
    top: 750px;
    right: 12px;
  }
}
