.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.menu > li > a {
  text-decoration: none;
  font-family: var(--base-font);
  color: #948865;
}

.menu > li > span {
  color: #948865;
  margin: 0 10px;
}

.contacts {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
  justify-content: center;
}

.addresses {
  margin: 5px 20px;
  width: 352px;
}

.addresses > p {
  margin: 5px;
  font-family: var(--base-font);
  color: #948865;
  font-size: 15px;
}

.phone {
  margin: 5px 20px;
  width: 352px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone > p {
  margin: 5px 10px;
  font-family: var(--base-font);
  color: #948865;
}

.linksMenu {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0 30px;
}

.links > img {
  height: 20px;
}

.linkName {
  text-decoration: none;
  font-family: var(--base-font);
  color: #948865;
  margin: 5px;
  font-size: 16px;
  width: 85px;
}

.copyright {
  font-family: var(--base-font);
  color: #948865;
  margin: 10px 0 0 0;
  font-size: 14px;
}

.copyDev {
  font-family: var(--base-font);
  color: #948865;
  margin: 0 15px 15px 0;
  font-size: 12px;
  align-self: flex-end;
}

@media screen and (max-width: 1080px) {
  .addresses {
    margin: 5px 10px;
    width: 290px;
  }

  .links {
    margin: 0 0 0 10px;
  }

  .phone {
    margin: 5px 10px;
    width: 290px;
  }

  .phone > p {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu > li > a {
    font-size: 15px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .addresses {
    margin: 0;
    width: 350px;
  }

  .addresses > p {
    margin: 0;
    font-size: 14px;
  }

  .phone {
    margin: 0;
    width: 340px;
    justify-content: center;
  }

  .phone > p {
    margin: 0;
    font-size: 14px;
  }

  .linksMenu {
    margin: 5px;
  }

  .links {
    margin: 0;
  }

  .links > img {
    height: 16px;
    margin: 0;
  }

  .linkName {
    margin: 0;
    font-size: 15px;
  }

  .copyright {
    margin: 8px 0 10px 0;
    font-size: 12px;
  }

  .copyDev {
    margin: 0 10px 10px 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 542px) {
  .menu > li > a {
    font-size: 14px;
  }

  .menu > li > span {
    margin: 0 3px;
  }
}

@media screen and (max-width: 480px) {
  .menu > li > a {
    font-size: 13px;
  }

  .menu > li > span {
    margin: 0 2px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .addresses {
    margin: 0;
    width: 350px;
  }

  .addresses > p {
    margin: 0;
    font-size: 14px;
  }

  .phone {
    margin: 0;
    width: 340px;
    justify-content: center;
  }

  .phone > p {
    margin: 0;
    font-size: 14px;
  }

  .linksMenu {
    margin: 5px;
  }

  .links {
    margin: 0;
  }

  .links > img {
    height: 16px;
    margin: 0;
  }

  .linkName {
    margin: 0;
    font-size: 15px;
  }

  .copyright {
    margin: 8px 0 10px 0;
    font-size: 12px;
  }

  .copyDev {
    margin: 0 8px 8px 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 392px) {
  .menu {
    display: none;
  }

  .contacts {
    width: 300px;
  }

  .addresses {
    margin: 0;
    width: 290px;
  }

  .addresses > p {
    margin: 0;
    font-size: 12px;
  }

  .phone {
    margin: 10px 0 0 0;
    width: 290px;
    justify-content: center;
  }

  .phone > p {
    margin: 0;
    font-size: 14px;
  }

  .linksMenu {
    margin: 5px;
  }

  .links {
    margin: 0;
  }

  .links > img {
    height: 16px;
    margin: 0;
  }

  .linkName {
    margin: 0;
    font-size: 15px;
  }
}
