.App {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(main-background.jpg);
    background-color: var(--background000);
}

.layout {
    display: grid;
    width: 1200px;
}

.header {
    background: var(--headerGradient);
    height: 170px;
    width: 100%;
}

.footer {
    background-color: var(--background400);
}

@media screen and (max-width: 1080px) {
    .layout {
        width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        width: 100vw;
    }

    .header {
        height: 150px;
    }
}

@media screen and (max-width: 512px) {
    .header {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {
    .layout {
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .layout {
        width: 320px;
    }

    .header {
        height: 80px;
    }
}
