.notFound {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.notFound > p {
    margin: 45px;
    padding-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #574d32;
    font-size: 20px;
}

.notFound > img {
    height: 430px;
}

@media screen and (max-width: 480px) {
    .notFound {
        flex-direction: column;
        justify-content: center;
        margin-top: 35px;
    }

    .notFound > p {
        margin: 15px;
        padding-top: 0;
        font-size: 20px;
        text-align: right;
    }

    .notFound > img {
        width: 244px;
        height: 417px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 320px) {
    .notFound {
        margin-top: 20px;
    }

    .notFound > p {
        margin: 15px;
        padding-top: 0;
        font-size: 17px;
        text-align: right;
    }

    .notFound > img {
        width: 163px;
        height: 278px;
        margin-left: 15px;
    }
}
