.errHeight {
    padding: 4px 0;
}

.inputName > div {
    font-size: 14px;
    text-transform: uppercase;
    color: #736849;
    height: 18px;
    padding-left: 4px;
}

.inputName > div > span {
    padding: 2px;
    color: #ff4d00;
    font-weight: bold;
}

.inputLine {
    background-color: #eaeade;
    box-shadow: 2px 4px 7px rgba(164, 139, 113, 0.25);
    border-radius: 4px;
    border: 0;
    width: 352px;
    height: 38px;
    font-size: 14px;
    line-height: 24px;
    color: #564743;
    outline: none;
    padding-left: 12px;
}

.textAreaStyle {
    background-color: #eaeade;
    box-shadow: 2px 4px 7px rgba(164, 139, 113, 0.25);
    border-radius: 4px;
    border: 0;
    width: 736px;
    font-size: 14px;
    line-height: 24px;
    color: #564743;
    outline: none;
    resize: none;
    padding: 16px 12px;
}

.textAreaNoErrors {
    height: 160px;
}

.textAreaErrors {
    height: 128px;
}

.inputLine::placeholder, .textAreaStyle::placeholder {
    color: #9d978e;
}

.inputLine:hover, .textAreaStyle:hover, .inputLine:focus, .textAreaStyle:focus {
    background: ivory;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eaeade inset, 2px 4px 7px rgba(164, 139, 113, 0.25);
}

input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px ivory inset, 2px 4px 7px rgba(164, 139, 113, 0.25);
}

.inputLine:disabled, .textAreaStyle:disabled {
    background: #E6E6D8;
    color: #9d978e;
}

.inputLine:invalid, .textAreaStyle:invalid {
    background: #E6E6D8;
    border: 1px solid #ff4d00;
    box-sizing: border-box;
}

.errorMessage {
    font-family: Avenir, sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #ff4d00;
    margin-top: 2px;
}

